<div class="cuerpo">
    <br>
    <div class="cubo1">
        <div class="div"> <span>Tema1</span> <br> <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet maiores sequi aut veniam hic minus ullam reprehenderit temporibus consequuntur eius quod minima, maxime corporis quisquam, aspernatur tempore repellat repudiandae molestias!
            Unde reiciendis numquam, deleniti itaque modi ea a perspiciatis magnam dicta maiores minus ab, explicabo distinctio sunt doloremque aliquid aperiam optio assumenda. Eaque officiis soluta minus quibusdam. Distinctio, sunt explicabo.
        </div>

        <section class="btn">
            <div class="example-button-row">

                <a mat-raised-button routerLink="topic1">See Topic</a>
            </div>
        </section>
    </div> <br> <br>

    <div class="cubo2">

        <div class="div"> <span>Tema2</span> <br> <br>

            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet maiores sequi aut veniam hic minus ullam reprehenderit temporibus consequuntur eius quod minima, maxime corporis quisquam, aspernatur tempore repellat repudiandae molestias!
            Unde reiciendis numquam, deleniti itaque modi ea a perspiciatis magnam dicta maiores minus ab, explicabo distinctio sunt doloremque aliquid aperiam optio assumenda. Eaque officiis soluta minus quibusdam. Distinctio, sunt explicabo.
        </div>

        <section class="btn">
            <div class="example-button-row">
                <a mat-raised-button href="https://www.google.com/" target="_blank">See Topic</a>
            </div>
        </section>
    </div> <br> <br>

    <div class="cubo3">
        <div class="div"> <span>Tema3</span> <br> <br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet maiores sequi aut veniam hic minus ullam reprehenderit temporibus consequuntur eius quod minima, maxime corporis quisquam, aspernatur tempore repellat repudiandae molestias!
            Unde reiciendis numquam, deleniti itaque modi ea a perspiciatis magnam dicta maiores minus ab, explicabo distinctio sunt doloremque aliquid aperiam optio assumenda. Eaque officiis soluta minus quibusdam. Distinctio, sunt explicabo.
        </div>

        <section class="btn">
            <div class="example-button-row">
                <a mat-raised-button href="https://www.google.com/" target="_blank">See Topic</a>
            </div>
        </section>
    </div>
</div>
