<div class="contenedor">

    <div class="arriba">
      
    <button mat-raised-button color="primary" routerLink="/add-discussion" class="btn">Add Discussion</button>
    
    </div>
  
  <!-- Filtro -->
  <mat-form-field appearance="fill" class="filtro">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" #input>
  </mat-form-field>
  <!-- Tabla -->
  <div class="tabla">
  <section class="example-container" tabindex="3">
    <table mat-table [dataSource]="dataSource"  >
      <!-- Nombre Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef class="titulo">Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>

      <!-- description Column -->
      <ng-container matColumnDef="description"  >
        <th mat-header-cell *matHeaderCellDef class="titulo">Descripcion</th>
        <td mat-cell *matCellDef="let element">{{ element.description }}</td>
      </ng-container>
  
      <ng-container matColumnDef="acciones"> 
        <th mat-header-cell *matHeaderCellDef ></th>
        <td mat-cell *matCellDef="let element, let i = index">
          <!-- Ver -->
          <a class="icono-1 pointer" matTooltip="Ver Usuario"
          (click)="seeComment(element.title)">
            <mat-icon>search</mat-icon>
          </a>
      
          <a class="icono-2 pointer" matTooltip="Editar Usuario"
          (click)="modifyComment(element.title)"
         >
          <mat-icon>edit</mat-icon>
          </a>
          <!-- Eliminar -->
          <a class="icono-3 pointer" matTooltip="Eliminar Usuario" (click)="eliminarCita(element.title)">
          <mat-icon>delete</mat-icon>
          </a>   
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
  </div>
  </div>
  