<div class="c-container">
    <h1>Welcome to the Forum</h1>
    <div class="c-buttons">
        <div class="row">
            <button class="c-button" routerLink="/user/login">Login</button>
            <button class="c-button" routerLink="/user/register">Register</button>
        </div>
        <div class="row">
            <button class="c-button c-large" routerLink="/user/recover-password">Forgot Password?</button>
        </div>
    </div>
</div>