<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center titulo">Login</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Mail">
                            <span class="text-danger" 
                            *ngIf="loginForm.get('usuario')?.hasError('required') && loginForm.get('usuario')?.touched">
                                Mail <strong>is requiered</strong>
                            </span>
                            <span class="text-danger" *ngIf="loginForm.get('usuario')?.hasError('email') && loginForm.get('usuario')?.touched">
                                Mail <strong>invalid</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control form-control-lg" placeholder="Password">
                            <span class="text-danger" 
                            *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                                Password <strong>is requiered</strong>
                            </span>
                        </div>
                        <button class="btn btn-secondary btn-lg" routerLink="/">Back</button>
                        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg float-end">Accept</button>
                    </form>
                    <br>
                    <div class="text-center">
                        <a routerLink="/user/register">Register</a>
                        <br>
                        <a routerLink="/user/recover-password">Recover Password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>