<div class="cuerpo">
    <form [formGroup]="form">
      <div class="form-contenido">
        <h1>Ver comment </h1>
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" 
          formControlName="title" 
          readonly
          />
        </mat-form-field>
  
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea matInput placeholder="mensaje" matInput autocomplete="off"  formControlName="description"
          readonly
          ></textarea>
        </mat-form-field>
  
  
        <button mat-raised-button class="cajas btn" type="submit"(click)="Volver()" >Volver</button>
  
      </div>
    </form>
  </div>
  
  
  