<div class="cuerpo">
    <form [formGroup]="form" (ngSubmit)="addComments()">
      <div class="form-contenido">
        <h1>{{titulo}} </h1>
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput autocomplete="off" 
          formControlName="title" 
          [readonly]="!adicionar"
          />
        </mat-form-field>
        <small class="advertencia" *ngIf="NombreNoValido">
          Ingrese mas de 4 letras
        </small>
  
        <mat-form-field class="cajas" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <textarea matInput placeholder="mensaje" formControlName="description"></textarea>
        </mat-form-field>
  
        <button mat-raised-button class="cajas btn  Volver" type="submit" (click)="Volver()">Volver</button>
  
        <button mat-raised-button class="cajas btn" type="submit" [disabled]="form.invalid" *ngIf="adicionar === true">Enviar</button>
  
        <button mat-raised-button class="cajas btn" type="submit" [disabled]="form.invalid" *ngIf="adicionar === false">Modificar</button>
      </div>
    </form>
  </div>
  
  
  