.cuerpo{
    background-size: cover;
    background-color: #dba2b0;
    height: 800px;
    display: flex;
    font-family:'Montserrat', sans-serif ;
    overflow: hidden;
  }
  
  .description{
    resize: none;
  }
  
  .form-contenido{
    background-color: white;
    width: 40%;
    margin: 4% auto;
    padding: 3.5em;
    border-radius: 10px;
  text-align: center;
  font-family:'Montserrat', sans-serif ;
  }
  .cajas-dia{
    width: 45% ;
    margin: 1% 2%;
    font-family:inherit ;
  }
  .cajas{
    width: 95%;
    margin: 1% auto;
    font-family:inherit ;
  }
  .cajas mat-label{
    color: black;
  }
  .btn{
    border: none;
    background-color: #a6153a;
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    padding: .7em 0;
    border-radius: 2em;
    cursor: pointer;
    width: 40%;
    margin:  0 30%;
    margin-bottom: 15px;
  }
  
  .Volver{
    background-color: #e7708e;
  }
  .is-invalid{
    border: 1px solid #ff0000a6;
  }
  
  .advertencia{
  
  font-weight: 600;
    color: #ff0000a6;
  }
  @media (max-width:768px) {
    .form-contenido {
  
      width: 80%;
      margin: 4% auto;
      padding: 1em;
      border-radius: 10px;
      text-align: center;
  
    }
  }
  
  @media (max-width:320px) {
    .form-contenido{
  
      width: 90%;
      margin: 4% auto;
      padding: 1em;
      border-radius: 10px;
    text-align: center;
  
    }
  }