<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Register User</h3>
                    <form [formGroup]="registerForm" (ngSubmit)="register()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg"
                                placeholder="Mail">
                            <span class="text-danger"
                                *ngIf="registerForm.get('usuario')?.hasError('required') && registerForm.get('usuario')?.touched">
                                Mail <strong>is requiered</strong>
                            </span>
                            <span class="text-danger"
                                *ngIf="registerForm.get('usuario')?.hasError('email') && registerForm.get('usuario')?.touched">
                                Mail <strong>invalid</strong>
                            </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                                placeholder="Contraseña">
                            <span class="text-danger"
                                *ngIf="registerForm.get('password')?.hasError('required') && registerForm.get('password')?.touched">
                                Password <strong>is requiered</strong>
                            </span>
                            <span class="text-danger"
                            *ngIf="registerForm.get('password')?.hasError('minlength') && registerForm.get('password')?.touched">
                            Password gotta be up to <strong>6 characters</strong>
                        </span>
                        </div>
                        <div class="mb-3">
                            <input type="password" formControlName="repetirPassword" class="form-control form-control-lg"
                                placeholder="Repetir Contraseña">
                            <span class="text-danger" *ngIf="registerForm.hasError('notSame')">
                                Password <strong>mismatch</strong>
                            </span>
                        </div>
                        <button routerLink="/user" class="btn btn-secondary btn-lg">Back</button>
                        <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary btn-lg float-end">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>