<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center titulo">Recover Password</h3>
                    <form [formGroup]="recuperarForm" (ngSubmit)="recuperarPassword()">
                        <div class="mb-3">
                            <input type="text" formControlName="usuario" class="form-control form-control-lg" placeholder="Place your email here">
                            <div class="text-danger" 
                                *ngIf="recuperarForm.get('usuario')?.hasError('required') && recuperarForm.get('usuario')?.touched">
                                Mail <strong>is necessary</strong>
                            </div>
                            <div class="text-danger" 
                            *ngIf="recuperarForm.get('usuario')?.hasError('email') && recuperarForm.get('usuario')?.touched" >
                                Mail <strong>invalid</strong>
                            </div>
                        </div>
                        <button routerLink="/user" class="btn btn-secondary btn-lg">Back</button>
                        <button type="submit" [disabled]="recuperarForm.invalid" class="btn btn-primary btn-lg float-end">Accept</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>